<body>

    {{!-- position wherever we need logout button --}}
    <nav>
        {{#if loggedIn}}
        <a href="/loggedin">Logged In</a>
        <button id="logout" class="enter-btn">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>

    <!-- Title and description/direction -->
    <header>
        <div class="page-description">
            <h1 class="directions">How can Spare Parts help you?</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero architecto vitae autem iusto sequi voluptates beatae quaerat magnam veniam nam porro dolore ducimus iste, rerum ipsam, laudantium ratione! Assumenda, aliquam?</p>
        </br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et suscipit quo repudiandae totam, facilis aliquid. Veritatis eos maiores dicta, dolorum,</p>

        </div>
    </header>

    
    
    <!-- Links to organs/fluids tables with images -->
    <section>
        <nav class="tile is-ancestor is-10">
          <div class="tile is-parent">
            <div class="tile is-child box has-background-info has-text-black">Organs
                <img src="./public/content/images/organs.png">
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child box has-background-info has-text-black">Bio-Fluids
                <img src="./public/content/images/fluids.png"> 
            </div>
          </div>
        </nav>
    </section>

    <!-- tables -->
    <section>
        <div class="tile is-ancestor is-10">
            <div class="tile is-parent">
                <div class="tile is-child box has-background-warning has-text-black">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laudantium hic dignissimos, numquam nisi non quasi expedita a est, neque mollitia recusandae in impedit velit repellendus pariatur omnis maiores perferendis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit perferendis, illo sunt praesentium ab ex quasi facilis ut, laudantium ad autem alias voluptatum facere ipsa. Asperiores id unde odio non!</p>
                </div>
            </div>
        </div>
    </section>
     
</body>
</html>
