<form>
        <!-- login -->
    <div>
         <h3 class="credentials">Email:</h3>
        <input type="text" class="user-text"></input>
    </div>
    <div>
        <h3 class="credentials">Password</h3>
        <input type="text" class="user-text"></input>
    </div>
    <div>
        <button class="enter-btn">Login</button>
    </div>
</form>
        
<script src="/javascript/login.js"></script>