<form>
    <!-- Register -->
    <div>
        <h3 class="credentials">Email:</h3>
        <input type="text" class="user-text"></input>
    </div>
    <div>
        <h3 class="credentials">Username:</h3>
        <input type="text" class="user-text"></input>
    </div>
    <div>
        <h3 class="credentials">Password:</h3>
        <input type="text" class="user-text"></input>
    </div>
    <div>
        <!-- dropdown for profile type -->
        <label class="credentials" for="profile-types">Profile Type:</label>
    </br>
        <select class="user-text" name="profile-types" id="profile-types">
            <option value="Doctor">None</option>
            <option value="Doctor">Doctor</option>
            <option value="Donor">Donor</option>
            <option value="Recipient">Recipient</option>
        </select>
    </br>
        <button class="enter-btn">Register</button>
    </div>
</form>

<script src="/javascript/register.js"></script>